@model dynamic
@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="span6">
        <div class="hero-unit" style="background-color:transparent;">
            <h1>No junk.</h1>
            <h1>Just jobs.</h1>
        </div>

        <legend>Welcome to GoonJobs Beta</legend>

        <p>You've tried LinkedIn and Monster and all those other sites that
           want to trawl your contacts and invade your privacy. It's really 
           annoying with all that advertising and up-selling when all you 
           want to do is find a job or find someone for a job.</p>
        <p>GoonJobs is different: we put the people hiring directly in touch 
           with the people being hired. We take a nominal fee to sort the 
           wheat from the chaff so that you know you're actually working with
           someone serious.</p>
        <p>No ads. No bullshit. Just jobs.</p>
    </div>

    <div class="span6">
        <legend>Newest Jobs</legend>
        <div class="row">
            @foreach (dynamic item in Model)
{
                <div class="span3">
                    <h3><a href="/jobs/details/@item.Slug">@item.Title</a></h3>
                    <h5><small>@item.Location</small></h5>
                    <p>@item.Blurb</p>
                </div>
}
        </div>
    </div>
</div>