@model dynamic
@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="span6">
        <div class="hero-unit" style="background-color:transparent;">
            <h1>No junk.</h1>
            <h1>Just jobs.</h1>
        </div>

        <legend>Welcome to GoonJobs Beta</legend>
        <p>All the job listing sites out there are fucking annoying with all 
           the spammy advertising bullshit and the selling of your information
           to advertisers.</p>
        <p>GoonJobs is different - we put the people hiring in touch with the
           people being hired and vice-versa. Shit isn't free, so we require a
           nominal anti-shitting tax for all users (unless you've been given 
           a free account code).</p>
        <p>We're still working out some of the kinks, so keep that in mind.</p>
    </div>

    <div class="span6">
        <legend>Newest Jobs</legend>
        <div class="row">
            @foreach (dynamic item in Model)
{
                <div class="span3">
                    <h3><a href="/jobs/details/@item.Slug">@item.Title</a></h3>
                    <h5><small>@item.Location</small></h5>
                    <p>@item.Blurb</p>
                </div>
}
        </div>
    </div>
</div>