@{
    ViewBag.Title = "404 Not Found";
}

<div class="row">
    <div class="span6 offset3">
        <legend>404 Not Found</legend>
        <p>The link you clicked on or the url you typed in doesn't point to 
           anything we know about.</p>
    </div>
</div>