@{
    ViewBag.Title = "500 Internal Server Error";
}
<div class="row">
    <div class="span6 offset3">
        <legend>500 Internal Server Error</legend>

        <p>It seems like there was an error - it's probably our fault. We've 
           logged it on the server side and we'll get to fixing it ASAP.</p>
    </div>
</div>