@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="span6 offset3">
        <legend>Legal</legend>

        <p>GoonJobs is not affiliated in any way with SomethingAwful.</p>
        <p>We are not responsible for user-generated content, unless of course we are by law.</p>
        <p>Users are responsible for the security of their account.</p>
        <p>We reserve the right to refuse service to anyone for any reason.</p>
    </div>
</div>
