@{
    ViewBag.Title = "Legal";
}

<div class="row">
    <div class="span8 offset2">
        <legend>Legal</legend>

        <p>We're not legal eagles, but there are a few things everyone needs to 
           know about GoonJobs:</p>
        <style>
            li { margin-bottom:5px; }
        </style>

        <ul>
            <li>GoonJobs is not affiliated in any way with SomethingAwful.</li>
            <li>The operators of GoonJobs are not responsible for user-generated 
                content unless the law states we are.</li>
            <li>All members are responsible for the security of their account.</li>
            <li>The service operators reserve the right to refuse service to 
                anyone for any reason.</li>
        </ul>

        <hr />

        <p style="text-align: center">
            <strong>Legal</strong> | 
            <a class="dotted" href="/privacy">Privacy</a> |
            <a class="dotted" href="/terms">Terms of Service</a>
        </p>

    </div>
</div>
