@{
    ViewBag.Title = "Privacy Policy";
}

<div class="row">
    <div class="span8 offset2">
        <legend>Privacy</legend>
        <p>We take your privacy seriously. Here's our privacy outline:</p>

        <style>
            li { margin-bottom:5px; }
        </style>
        <ul>
            <li>The only information we collect from you is the email you use to sign in with</li>
            <li>We do not use any analytics software and we do not track you with 
                cookies except for the purpose of making sure you're logged in 
                to the service</li>
            <li>All information we collect stays with the operators of the 
                service<sup>1</sup> and will remain that way.</li>
            <li>At any time you have the right to request any information 
                pertaining to your account. This data will be made available to
                you in the format you require.</li>
            <li>At any time, you have the right to remove any or all information you
                have provided to the service.</li>
        </ul>

        <hr />

        <p>
            <small><sup>1</sup> Seditious Technologies (ABN 81687061921)</small>
        </p>
        
        <hr />

        <p style="text-align: center">
            <a class="dotted" href="/legal">Legal</a> | 
            <strong>Privacy</strong> | 
            <a class="dotted" href="/terms">Terms of Service</a>
        </p>
    </div>
</div>
