@{
    ViewBag.Title = "Terms of Service";
}

<div class="row">
    <div class="span8 offset2">
        <legend>Terms of Service</legend>

        <p>We only have a few rules that everyone has to follow to make sure 
           GoonJobs remains a nice place to find a job:</p>
        <style>
            li { margin-bottom:5px; }
        </style>
        <ul>
            <li>You are not allowed to use the contacts of other members without
                the intent to hire another member or apply for a listing (unless 
                the member you are contacting is okay with it).</li>
            <li>All content must be G-rated: suitable for minors to view. Keep it
                clean.</li>
            <li>This is not a file-sharing service: do not post links to 
                content you do not have the permission to distribute.</li>
        </ul>
        <p>Failure to abide by these basic rules will get you a warning by one
           of our moderation staff. Repeated violations will result in a ban.</p>

        <hr />

        <p style="text-align: center">
            <a class="dotted" href="/legal">Legal</a> | 
            <a class="dotted" href="/privacy">Privacy</a> |
            <strong>Terms of Service</strong>
        </p>
    </div>
</div>
