@model dynamic
@{
    ViewBag.Title = "Activations";
}

<form action="/acp/activations" method="post" style="text-align:center">
    <div class="control-group">
        <div class="controls">
            <div class="input-prepend input-append">
                <span class="add-on">Generate Codes</span><input name="n" value="1" type="number" class="input-mini" /><button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>

<table class="table table-condensed">
    <thead>
        <tr>
            <th style="width:15%">Code</th>
            <th>User</th>
            <th style="width:30%">Activated (UTC)</th>
        </tr>
    </thead>
    <tbody>
    @foreach (dynamic item in Model)
    {
        <tr>
            <td><code>@item.Code</code></td>
            <td>@item.Username</td>
            <td>@if (item.Activated != DateTime.MinValue)
                {
                    @(item.Activated.ToLongTimeString()) @:&nbsp; @(item.Activated.ToLongDateString())
                }
            </td>
        </tr>
    }
    </tbody>
</table>