@model List<dynamic>
@using IDoThis.Helpers
@{
    ViewBag.Title = "People";
    if (!string.IsNullOrWhiteSpace(Request.QueryString["q"]))
    {
        ViewBag.Title = "Search Results for '" + Request.QueryString["q"] + "'";
    }
}




<ul class="thumbnails">
@foreach (dynamic item in Model)
{
    var hash = ((string)item.emails[0].value).MD5Hash();
    
    <li class="span2">
        <a class="thumbnail" href="/people/details/@hash" style="text-align:center; text-decoration:none">
            <img src="http://www.gravatar.com/avatar/@(hash)?s=220&d=mm" >
            <h4>@item.name.givenName @item.name.familyName</h4>
        </a>
    </li>
}
</ul>