@model dynamic
@{
    ViewBag.Title = "Job Application - " + Model.JobTitle;
}

@if (ViewBag.Errors == true)
{
    <div class="alert alert-error fade in">
        <a class="close" data-dismiss="alert">&times;</a> 
        <strong>Oh snap!</strong> There was an error submitting your application. Please make sure you've completed the required fields.
    </div>    
}

<div class="alert alert-info fade in">
    <a class="close" data-dismiss="alert">&times;</a>
    <strong>Hey there!</strong> You're applying for the @Model.JobTitle position at @Model.Who. 
    <a href="/jobs/details/@Model.Slug">Click here</a> to go back to the job listing.
</div>

<form class="form-horizontal" action="/jobs/apply/@Model.Slug" method="post">
    <fieldset>
        
        <div class="control-group">
            <label class="control-label">Your Name</label>
            <div class="controls">
                <input type="text" class="span10" maxlength="100" name="full_name" placeholder="Johnny Appleseed" required="required" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Application Letter</label>
            <div class="controls">
                <textarea name="application_letter" class="span10" maxlength="5000" rows="16" style="resize:vertical" required="required">
Hi!

My name is Johnny Appleseed and I am a developer at Awesome, Inc. I saw your job listing on IAmThis and here is why you should choose me for the @Model.JobTitle position:

 - Stong problem solving skills
 - etc

More information can be found on my website.

Cheers,
Johnny Appleseed</textarea>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Portfolio/Examples</label>
            <div class="controls">
                <input type="url" class="span10" maxlength="200" name="examples_url" placeholder="http://johnny-appleseed.com" />
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                <i class="icon-envelope icon-white"></i> Send
            </button>
        </div>
    </fieldset>
</form>